<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>My Profile</title>
  <script>
     alert("Welcome to my profile page!")
  </script>
  <style>
   body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  padding: 20px;
  line-height: 1.6;
}

header, footer {
  text-align: center;
  padding: 10px 0;
}

img {
  border-radius: 50%;
  border: 5px solid #0077cc;
}

section {
  margin-bottom: 20px;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  </style>
</head>
<body>
  <header><h1>Hi, im Vuk Dakic</h1></header>
  <section>I'm a gamer who likes strategy games. I am a person who likes helping people. I am honest</section>
  <section><img src="IMG_20250821_164342195_Curly_Hair.webp" alt="Vuk Dakic profile picture"></section>
  <section>I am interested in:
    <ul>
      <li>Warframe(a video game)</li>
      <li>Warhammer 40k Mechanicus(another video game)</li>
      <li>Dungeons and Dragons</li>
      <li>Watching youtube</li>
    </ul>
  </section>
  <section><p>I have graduated Disney 2 highschool and I am heading into University of illinoisse Chicago</p></section>
  <section>Links</section>
  <footer>Thank you for looking at my profile</footer>
  <!-- Your content goes here -->
</body>
</html>
